nav{
    margin-bottom: calc(var(--spacing) * 2);
}
nav ul li{
    margin-bottom: var(--spacing);
    display: flex;
    align-items: center
}
nav ul li a{;
    width: 100%;
    display: block;
    font-weight: 500;
    color: var(--darker-grey);
    position: relative;    
}
nav ul li a.active{
    color: var(--blue);
}

nav ul li a.active:after{
    content: "";
    display: block;
    background-color: var(--blue);
    width: 3px;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    right: -40px;
    top: -5px;
}
nav ul li a span{
    display: block;
    transition: transform 0.25s ease;
}
nav ul li a:hover span{
    transform: translateX(10px);
}

nav .bi{
    font-size: 1.6rem;
    margin-right: 10px;
}